@model Nop.Web.Areas.Admin.Models.Logistics.ConsignmentOrderModel
@using Nop.Services
@{
    var nextAvailableOrderStatus = Model.GetNextAvailableStatus();
}
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            @T("Admin.Logistics.ConsignmentOrder.Fields.BaseInfo")
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="SerialNum" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="SerialNum" asp-required="true" />
                    <span asp-validation-for="SerialNum"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="ShipmentMethod" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="ShipmentMethod" asp-items="Model.ShipmentMethod.ToSelectList()" />
                    <span asp-validation-for="ShipmentMethod"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="ConsignmentTime" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="ConsignmentTime" asp-required="true" />
                    <span asp-validation-for="ConsignmentTime"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="StartPoint" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="StartPoint" asp-required="true" />
                    <span asp-validation-for="StartPoint"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="Terminal" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Terminal" asp-required="true" />
                    <span asp-validation-for="Terminal"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            @T("Admin.Logistics.ConsignmentOrder.Fields.Consignor")
            <input asp-for="ConsignorId" type="hidden" />
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="Consignor.Name" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Consignor.Name" asp-required="true" />
                    <span asp-validation-for="Consignor.Name"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="Consignor.Address" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Consignor.Address" />
                    <span asp-validation-for="Consignor.Address"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="Consignor.Phone" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Consignor.Phone" />
                    <span asp-validation-for="Consignor.Phone"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            @T("Admin.Logistics.ConsignmentOrder.Fields.Consignee")
            <input asp-for="ConsigneeId" type="hidden" />
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="Consignee.Name" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Consignee.Name" asp-required="true" />
                    <span asp-validation-for="Consignee.Name"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="Consignee.Address" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Consignee.Address" />
                    <span asp-validation-for="Consignee.Address"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="Consignee.Phone" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Consignee.Phone" />
                    <span asp-validation-for="Consignee.Phone"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            @T("Admin.Logistics.ConsignmentOrder.Fields.Process")
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="OrderStatus" />
                </div>
                <div class="col-md-9">
                    <div class="input-group input-group-short">
                        <div class="input-group-text">
                            <div class="form-text-row">@Model.OrderStatusName</div>
                        </div>
                        <div class="input-group-btn">
                            @if (nextAvailableOrderStatus.Contains(Nop.Core.Domain.Logistics.OrderStatus.进行中))
                            {
                                <button type="submit" name="StartOrder" id="StartOrder" class="btn bg-blue" style="margin-right:3px;">
                                    @T("Admin.Logistics.ConsignmentOrder.OrderStatus.StartOrder")
                                </button>
                                <nop-action-confirmation asp-button-id="StartOrder" />
                            }
                            @if (nextAvailableOrderStatus.Contains(Nop.Core.Domain.Logistics.OrderStatus.已完成))
                            {
                                <button type="submit" name="CompleteOrder" id="CompleteOrder" class="btn bg-green" style="margin-right:3px;">
                                    @T("Admin.Logistics.ConsignmentOrder.OrderStatus.CompleteOrder")
                                </button>
                                <nop-action-confirmation asp-button-id="CompleteOrder" />
                            }
                            @if (nextAvailableOrderStatus.Contains(Nop.Core.Domain.Logistics.OrderStatus.已取消))
                            {
                                <button type="submit" name="CancelOrder" id="CancelOrder" class="btn bg-red" style="margin-right:3px;">
                                    @T("Admin.Logistics.ConsignmentOrder.OrderStatus.CancelOrder")
                                </button>
                                <nop-action-confirmation asp-button-id="CancelOrder" />
                            }
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="Receivable" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Receivable" />
                    <span asp-validation-for="Receivable"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="Receipts" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Receipts" />
                    <span asp-validation-for="Receipts"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            @T("Admin.Logistics.ConsignmentOrder.Fields.Trip")
        </div>
        <div class="panel-body">
            @if (null != Model.Trip)
            {
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="Trip.SerialNum" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@(Model.Trip?.SerialNum ?? string.Empty)</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="Trip.Car.License" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@(Model.Trip?.Car?.License ?? string.Empty)</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="Trip.Driver.Name" />
                    </div>
                    <div class="col-md-9">
                        <div class="form-text-row">@(Model.Trip?.Driver?.Name ?? string.Empty)</div>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <div class="form-text-row">
                            @T("Admin.Logistics.ConsignmentOrder.NoTrip")
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>