@model Nop.Web.Areas.Admin.Models.Logistics.ConsignmentOrderSearchModel

@{
    ViewBag.Title = T("Admin.Logistics.ConsignmentOrder").Text;
    Html.SetActiveMenuItemSystemName("ConsignmentOrder");
}

<nop-antiforgery-token />
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Logistics.ConsignmentOrder")
    </h1>
    <div class="pull-right">
        <a asp-action="Create" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
        <button type="button" name="importexcel" class="btn bg-olive" data-toggle="modal" data-target="#importexcel-window">
            <i class="fa fa-upload"></i>
            @T("Admin.Common.Import")
        </button>
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="SearchConsignor" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="SearchConsignor" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="SearchStartPoint" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="SearchStartPoint" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="SearchConsignee" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="SearchConsignee" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="SearchTerminal" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="SearchTerminal" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="SearchCarLicense" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="SearchCarLicense" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="SearchDriverName" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="SearchDriverName" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="SearchShipmentMethod" />
                                </div>
                                <div class="col-md-8">
                                    <nop-select asp-for="SearchShipmentMethod" asp-items="Model.AvailableShipmentMethods" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 col-md-offset-5">
                            <button type="button" id="search" class="btn btn-primary btn-search">
                                <i class="fa fa-search"></i>
                                @T("Admin.Common.Search")
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="grid"></div>

                    <script>
                            $(function () {
                                $("#grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("List", "ConsignmentOrder"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: function () {
                                                    var data = {
                                                        SearchShipmentMethod: $("#@Html.IdFor(x => x.SearchShipmentMethod)").val(),
                                                        SearchStartPoint: $("#@Html.IdFor(x => x.SearchStartPoint)").val(),
                                                        SearchTerminal: $("#@Html.IdFor(x => x.SearchTerminal)").val(),
                                                        SearchConsignor: $("#@Html.IdFor(x => x.SearchConsignor)").val(),
                                                        SearchConsignee: $("#@Html.IdFor(x => x.SearchConsignee)").val(),
                                                        SearchCarLicense: $("#@Html.IdFor(x => x.SearchCarLicense)").val(),
                                                        SearchDriverName: $("#@Html.IdFor(x => x.SearchDriverName)").val()
                                                    };
                                                    addAntiForgeryToken(data);
                                                    return data;
                                                }
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors:"Errors"
                                        },
                                        error: function (e) {
                                            display_kendoui_grid_error(e);
                                            this.cancelChanges();
                                        },
                                        pageSize: @(Model.PageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(Model.AvailablePageSizes)],
                                        @await Html.PartialAsync("_GridPagerMessages")
                                    },
                                    scrollable: false,
                                    dataBound: onDataBound,
                                    columns: [
                                        {
                                            field: "Id",
                                            headerTemplate: "<input id='mastercheckbox' type='checkbox' />",
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:center" },
                                            template: "<input type='checkbox' value='#=Id#' class='checkboxGroups' />",
                                            width: 50
                                        },
                                        {
                                            field: "ConsignorId",
                                            title: "@T("Admin.Logistics.ConsignmentOrder.Fields.Consignor")",
                                            template:
                                                "@T("Admin.Logistics.ConsignmentUser.Fields.Name"): #=Consignor.Name#<br />" +
                                                "@T("Admin.Logistics.ConsignmentUser.Fields.Address"): #=Consignor.Address#<br />" +
                                                "@T("Admin.Logistics.ConsignmentUser.Fields.Phone"): #=Consignor.Phone#"
                                        },
                                        {
                                            field: "ConsigneeId",
                                            title: "@T("Admin.Logistics.ConsignmentOrder.Fields.Consignee")",
                                            template:
                                                "@T("Admin.Logistics.ConsignmentUser.Fields.Name"): #=Consignee.Name#<br />" +
                                                "@T("Admin.Logistics.ConsignmentUser.Fields.Address"): #=Consignee.Address#<br />" +
                                                "@T("Admin.Logistics.ConsignmentUser.Fields.Phone"): #=Consignee.Phone#"
                                        },
                                        {
                                            field: "StartPoint",
                                            title: "@T("Admin.Logistics.ConsignmentOrder.Fields.StartPoint")"
                                        },
                                        {
                                            field: "Terminal",
                                            title: "@T("Admin.Logistics.ConsignmentOrder.Fields.Terminal")"
                                        },
                                        {
                                            field: "CarId",
                                            title: "@T("Admin.Logistics.ConsignmentOrder.Fields.Car")",
                                            template: "@T("Admin.Logistics.Car.Fields.License"): #=Car.License#"
                                        },
                                        {
                                            field: "DriverId",
                                            title: "@T("Admin.Logistics.ConsignmentOrder.Fields.Driver")",
                                            template: "@T("Admin.Logistics.Driver.Fields.Name"): #=Driver.Name#"
                                        },
                                        {
                                            field: "ShipmentMethodName",
                                            title: "@T("Admin.Logistics.ConsignmentOrder.Fields.ShipmentMethod")",
                                            width: 100,
                                            headerAttributes: { style: "text-align: center" },
                                            attributes: { style: "text-align: center" }
                                        },
                                        {
                                            field: "Id",
                                            title: "@T("Admin.Common.Edit")",
                                            width: 50,
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:center" },
                                            template: '<a class="btn btn-default" href="Edit/#=Id#"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>'
                                        }
                                    ]
                                });
                            });
                    </script>

                    <script>
                            var selectedIds = [];

                            $(function () {
                                $("#search").click(function () {
                                    var grid = $("#grid").data("kendoGrid");
                                    grid.dataSource.page(1);
                                    $(".checkboxGroups").attr("checked", false).change();
                                    selectedIds = [];
                                    return false;
                                });

                                $([
                                    "#@Html.IdFor(x => x.SearchStartPoint)",
                                    "#@Html.IdFor(x => x.SearchTerminal)",
                                    "#@Html.IdFor(x => x.SearchConsignor)",
                                    "#@Html.IdFor(x => x.SearchConsignee)",
                                    "#@Html.IdFor(x => x.SearchCarLicense)",
                                    "#@Html.IdFor(x => x.SearchDriverName)"
                                ].join(",")).keydown(function (event) {
                                    if (event.keyCode === 13) {
                                        $("#search").click();
                                        return false;
                                    }
                                });

                                $("#mastercheckbox").click(function () {
                                    $(".checkboxGroups").attr("checked", $(this).is(":checked")).change();
                                });

                                $("#grid").on("change", "input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]", function (e) {
                                    var $check = $(this);
                                    var checked = $.inArray($check.val(), selectedIds);
                                    if ($check.is(":checked") == true) {
                                        if (-1 == checked) {
                                            selectedIds.push($check.val());
                                        }
                                    }
                                    else if (checked > -1) {
                                        selectedIds = $.grep(selectedIds, function (item, index) {
                                            return item != $check.val();
                                        });
                                    }
                                    updateMasterCheckbox();
                                });
                            });

                            function onDataBound(e) {
                                $("#grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]").each(function () {
                                    var currentId = $(this).val();
                                    var checked = $.inArray(currentId, selectedIds);
                                    $(this).attr('checked', checked > -1);
                                });

                                updateMasterCheckbox();
                            }

                            function updateMasterCheckbox() {
                                var numChkBoxes = $("#grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]").length;
                                var numChkBoxesChecked = $("#grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]:checked").length;
                                $("#mastercheckbox").attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                            }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="importexcel-window" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="importexcel-window-title">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="importexcel-window-title">@T("Admin.Common.ImportFromExcel")</h4>
            </div>
            <form asp-controller="ConsignmentOrder" asp-action="ImportFromXlsx" method="post" enctype="multipart/form-data">
                <div class="form-horizontal">
                    <div class="modal-body">
                        <ul class="common-list">
                            <li>
                                <em>@T("Admin.Logistics.ConsignmentOrders.List.ImportFromExcelTip")</em>
                            </li>
                            <li>
                                <em>@T("Admin.Common.ImportFromExcel.ManyRecordsWarning")</em>
                            </li>
                        </ul>
                        <div class="form-group">
                            <div class="col-md-2">
                                <div class="label-wrapper">
                                    <label class="control-label">
                                        @T("Admin.Common.ExcelFile")
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <input type="file" id="importexcelfile" name="importexcelfile" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            @T("Admin.Common.ImportFromExcel")
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
