@model Nop.Web.Areas.Admin.Models.Logistics.ConsignmentOrderSearchModel

@{
    ViewBag.Title = T("Admin.Logistics.ConsignmentOrder").Text;
    Html.SetActiveMenuItemSystemName("ConsignmentOrder");
}

<nop-antiforgery-token />
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Logistics.ConsignmentOrder")
    </h1>
    <div class="pull-right">
        <a asp-action="Create" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
        <button type="button" name="importexcel" class="btn bg-olive" data-toggle="modal" data-target="#importexcel-window">
            <i class="fa fa-upload"></i>
            @T("Admin.Common.Import")
        </button>
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="SearchConsignor" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="SearchConsignor" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="SearchStartPoint" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="SearchStartPoint" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="SearchConsignee" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="SearchConsignee" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="SearchTerminal" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="SearchTerminal" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="SearchShipmentMethod" />
                                </div>
                                <div class="col-md-8">
                                    <nop-select asp-for="SearchShipmentMethod" asp-items="Model.AvailableShipmentMethods" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7 col-md-offset-5">
                            <button type="button" id="search" class="btn btn-primary btn-search">
                                <i class="fa fa-search"></i>
                                @T("Admin.Common.Search")
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="grid"></div>

                    <style scoped>
                        #grid th { text-align: center; }
                    </style>

                    <script>
                        $(function () {
                            $("#grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("List", "ConsignmentOrder"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: function () {
                                                var data = {
                                                    SearchShipmentMethod: $("#@Html.IdFor(x => x.SearchShipmentMethod)").val(),
                                                    SearchStartPoint: $("#@Html.IdFor(x => x.SearchStartPoint)").val(),
                                                    SearchTerminal: $("#@Html.IdFor(x => x.SearchTerminal)").val(),
                                                    SearchConsignor: $("#@Html.IdFor(x => x.SearchConsignor)").val(),
                                                    SearchConsignee: $("#@Html.IdFor(x => x.SearchConsignee)").val()
                                                };
                                                addAntiForgeryToken(data);
                                                return data;
                                            }
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors:"Errors",
                                        model: {
                                            id: "Id",
                                            fields: {
                                                CTime: { type: "date" }
                                            }
                                        }
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        this.cancelChanges();
                                    },
                                    pageSize: @(Model.PageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(Model.AvailablePageSizes)],
                                    @await Html.PartialAsync("_GridPagerMessages")
                                },
                                scrollable: false,
                                columns: [
                                    {
                                        field: "SerialNum",
                                        title: "@T("Admin.Logistics.ConsignmentOrder.Fields.SerialNum")",
                                        width: 200,
                                        attributes: { style: "text-align: center" }
                                    },
                                    {
                                        field: "CTime",
                                        title: "@T("Admin.Logistics.ConsignmentOrder.Fields.CTime")",
                                        width: 200,
                                        type: "date",
                                        attributes: { style: "text-align: center" },
                                        format: "{0:yyyy-MM-dd HH:mm:ss}"
                                    },
                                    {
                                        field: "ConsignorId",
                                        title: "@T("Admin.Logistics.ConsignmentOrder.Fields.Consignor")",
                                        template:
                                            "@T("Admin.Logistics.ConsignmentUser.Fields.Name"): #=(null == Consignor.Name ? '-' : Consignor.Name)#<br />" +
                                            "@T("Admin.Logistics.ConsignmentUser.Fields.Address"): #=(null == Consignor.Address ? '-' : Consignor.Address)#<br />" +
                                            "@T("Admin.Logistics.ConsignmentUser.Fields.Phone"): #=(null == Consignor.Phone ? '-' : Consignor.Phone)#"
                                    },
                                    {
                                        field: "ConsigneeId",
                                        title: "@T("Admin.Logistics.ConsignmentOrder.Fields.Consignee")",
                                        template:
                                            "@T("Admin.Logistics.ConsignmentUser.Fields.Name"): #=(null == Consignee.Name ? '-' : Consignee.Name)#<br />" +
                                            "@T("Admin.Logistics.ConsignmentUser.Fields.Address"): #=(null == Consignee.Address ? '-' : Consignee.Address)#<br />" +
                                            "@T("Admin.Logistics.ConsignmentUser.Fields.Phone"): #=(null == Consignee.Phone ? '-' : Consignee.Phone)#"
                                    },
                                    {
                                        field: "StartPoint",
                                        title: "@T("Admin.Logistics.ConsignmentOrder.Fields.StartPoint")"
                                    },
                                    {
                                        field: "Terminal",
                                        title: "@T("Admin.Logistics.ConsignmentOrder.Fields.Terminal")"
                                    },
                                    {
                                        field: "PaymentStatus",
                                        title: "@T("Admin.Logistics.ConsignmentOrder.Fields.Payment")",
                                        template:
                                            '<span class="grid-report-item ' +
                                            '# if (PaymentStatus == -1) {# red #} #' +
                                            '# if (PaymentStatus == 0 || PaymentStatus == -2) {# yellow #} #' +
                                            '# if (PaymentStatus == 1) {# green #} #' +
                                            '# if (PaymentStatus == 2) {# blue #} #' +
                                            '">#=PaymentStatusName#</span>' +
                                            "(@T("Admin.Logistics.ConsignmentOrder.Fields.Receipts"): #=(null == Receipts ? '-' : Receipts)# / " +
                                            "@T("Admin.Logistics.ConsignmentOrder.Fields.Receivable"): #=(null == Receivable ? '-' : Receivable)#)"
                                    },
                                    {
                                        field: "OrderStatusName",
                                        title: "@T("Admin.Logistics.ConsignmentOrder.Fields.OrderStatus")",
                                        width: 100,
                                        attributes: { style: "text-align: center" },
                                        template:
                                            '<span class="grid-report-item ' +
                                            '# if (OrderStatus == 0) {# yellow #} #' +
                                            '# if (OrderStatus == -1) {# red #} #' +
                                            '# if (OrderStatus == 2) {# blue #} #' +
                                            '# if (OrderStatus == 1) {# green #} #' +
                                            '">#=OrderStatusName#</span>'
                                    },
                                    {
                                        field: "TripId",
                                        title: "@T("Admin.Logistics.ConsignmentOrder.Fields.Trip")",
                                        template:
                                            "# if (null != Trip) {# " +
                                            "@T("Admin.Logistics.Car.Fields.License"): #=(null != Trip && null != Trip.Car) ? Trip.Car.License : '-'#<br />" +
                                            "@T("Admin.Logistics.Driver.Fields.Name"): #=(null != Trip && null != Trip.Driver) ? Trip.Driver.Name : '-'#" +
                                            " #} else {# #} #"
                                    },
                                    {
                                        field: "Id",
                                        title: "@T("Admin.Common.Edit")",
                                        width: 50,
                                        attributes: { style: "text-align:center" },
                                        template: '<a class="btn btn-default" href="Edit/#=Id#"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>'
                                    }
                                ]
                            });
                        });
                    </script>

                    <script>
                        $(function () {
                            $("#search").click(function () {
                                var grid = $("#grid").data("kendoGrid");
                                grid.dataSource.page(1);
                                return false;
                            });

                            $([
                                "#@Html.IdFor(x => x.SearchStartPoint)",
                                "#@Html.IdFor(x => x.SearchTerminal)",
                                "#@Html.IdFor(x => x.SearchConsignor)",
                                "#@Html.IdFor(x => x.SearchConsignee)"
                            ].join(",")).keydown(function (event) {
                                if (event.keyCode === 13) {
                                    $("#search").click();
                                    return false;
                                }
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="importexcel-window" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="importexcel-window-title">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="importexcel-window-title">@T("Admin.Common.ImportFromExcel")</h4>
            </div>
            <form asp-controller="ConsignmentOrder" asp-action="ImportFromXlsx" method="post" enctype="multipart/form-data">
                <div class="form-horizontal">
                    <div class="modal-body">
                        <ul class="common-list">
                            <li>
                                <em>@T("Admin.Logistics.ConsignmentOrders.List.ImportFromExcelTip")</em>
                            </li>
                            <li>
                                <em>@T("Admin.Common.ImportFromExcel.ManyRecordsWarning")</em>
                            </li>
                        </ul>
                        <div class="form-group">
                            <div class="col-md-2">
                                <div class="label-wrapper">
                                    <label class="control-label">
                                        @T("Admin.Common.ExcelFile")
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <input type="file" id="importexcelfile" name="importexcelfile" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            @T("Admin.Common.ImportFromExcel")
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
