@model Nop.Web.Areas.Admin.Models.Logistics.ConsignmentOrderSearchModel

@{
    ViewBag.Title = T("Admin.Logistics.ConsignmentOrder").Text;
    Html.SetActiveMenuItemSystemName("ConsignmentOrder");
}

<form asp-controller="ConsignmentOrder" asp-action="List" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Logistics.ConsignmentOrder")
        </h1>
        <div class="pull-right">
            <a asp-action="Create" class="btn bg-blue">
                <i class="fa fa-plus-square"></i>
                @T("Admin.Common.AddNew")
            </a>
            <button type="button" name="importexcel" class="btn bg-olive" data-toggle="modal" data-target="#importexcel-window">
                <i class="fa fa-upload"></i>
                @T("Admin.Common.Import")
            </button>
            <div class="btn-group">
                <button type="button" class="btn btn-success">
                    <i class="fa fa-download"></i>
                    @T("Admin.Common.Export")
                </button>
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">&nbsp;</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <button type="submit" name="exportexcel-all">
                            <i class="fa fa-file-excel-o"></i>
                            @T("Admin.Common.ExportToExcel.All")
                        </button>
                    </li>
                    <li>
                        <button type="button" id="exportexcel-selected">
                            <i class="fa fa-file-excel-o"></i>
                            @T("Admin.Common.ExportToExcel.Selected")
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchOrderStatuses" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchOrderStatuses" asp-items="Model.AvailableOrderStatuses" asp-multiple="true" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchPaymentStatuses" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchPaymentStatuses" asp-items="Model.AvailablePaymentStatuses" asp-multiple="true" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchSerialNum" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="SearchSerialNum" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchConsignor" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="SearchConsignor" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchConsignee" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="SearchConsignee" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchConsignmentTimeFrom" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="SearchConsignmentTimeFrom" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchConsignmentTimeTo" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="SearchConsignmentTimeTo" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchShipmentMethod" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchShipmentMethod" asp-items="Model.AvailableShipmentMethods" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchStartPoint" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="SearchStartPoint" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchTerminal" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="SearchTerminal" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-md-offset-5">
                                <button type="button" id="search" class="btn btn-primary btn-search">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="grid"></div>

                        <style scoped>
                            #grid th { text-align: center; }
                        </style>

                        <script>
                            $(function () {
                                $("#grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("List", "ConsignmentOrder"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: function () {
                                                    var data = {
                                                        SearchShipmentMethod: $("#@Html.IdFor(x => x.SearchShipmentMethod)").val(),
                                                        SearchStartPoint: $("#@Html.IdFor(x => x.SearchStartPoint)").val(),
                                                        SearchTerminal: $("#@Html.IdFor(x => x.SearchTerminal)").val(),
                                                        SearchConsignor: $("#@Html.IdFor(x => x.SearchConsignor)").val(),
                                                        SearchConsignee: $("#@Html.IdFor(x => x.SearchConsignee)").val(),
                                                        SearchSerialNum: $("#@Html.IdFor(x => x.SearchSerialNum)").val(),
                                                        SearchConsignmentTimeFrom: $("#@Html.IdFor(x => x.SearchConsignmentTimeFrom)").val(),
                                                        SearchConsignmentTimeTo: $("#@Html.IdFor(x => x.SearchConsignmentTimeTo)").val(),
                                                        SearchPaymentStatuses: $("#@Html.IdFor(x => x.SearchPaymentStatuses)").val(),
                                                        SearchOrderStatuses: $("#@Html.IdFor(x => x.SearchOrderStatuses)").val()
                                                    };
                                                    addAntiForgeryToken(data);
                                                    return data;
                                                }
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors:"Errors",
                                            model: {
                                                id: "Id",
                                                fields: {
                                                    ConsignmentTime: { type: "date" }
                                                }
                                            }
                                        },
                                        error: function (e) {
                                            display_kendoui_grid_error(e);
                                            this.cancelChanges();
                                        },
                                        pageSize: @(Model.PageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(Model.AvailablePageSizes)],
                                        @await Html.PartialAsync("_GridPagerMessages")
                                    },
                                    scrollable: false,
                                    dataBound: onDataBound,
                                    columns: [
                                        {
                                            field: "Id",
                                            headerTemplate: "<input id='mastercheckbox' type='checkbox' />",
                                            headerAttributes: { style: "text-align: center" },
                                            attributes: { style: "text-align: center" },
                                            template: "<input type='checkbox' value='#=Id#' class='checkboxGroups' />",
                                            width: 50
                                        },
                                        {
                                            field: "SerialNum",
                                            title: "@T("Admin.Logistics.ConsignmentOrder.Fields.SerialNum")",
                                            width: 200,
                                            attributes: { style: "text-align: center" }
                                        },
                                        {
                                            field: "ConsignmentTime",
                                            title: "@T("Admin.Logistics.ConsignmentOrder.Fields.ConsignmentTime")",
                                            width: 150,
                                            type: "date",
                                            attributes: { style: "text-align: center" },
                                            format: "{0:yyyy-MM-dd}"
                                        },
                                        {
                                            field: "ConsignorId",
                                            title: "@T("Admin.Logistics.ConsignmentOrder.Fields.Consignor")",
                                            template:
                                                "@T("Admin.Logistics.ConsignmentUser.Fields.Name"): #=(null == Consignor.Name ? '-' : Consignor.Name)#<br />" +
                                                "@T("Admin.Logistics.ConsignmentUser.Fields.Address"): #=(null == Consignor.Address ? '-' : Consignor.Address)#<br />" +
                                                "@T("Admin.Logistics.ConsignmentUser.Fields.Phone"): #=(null == Consignor.Phone ? '-' : Consignor.Phone)#"
                                        },
                                        {
                                            field: "ConsigneeId",
                                            title: "@T("Admin.Logistics.ConsignmentOrder.Fields.Consignee")",
                                            template:
                                                "@T("Admin.Logistics.ConsignmentUser.Fields.Name"): #=(null == Consignee.Name ? '-' : Consignee.Name)#<br />" +
                                                "@T("Admin.Logistics.ConsignmentUser.Fields.Address"): #=(null == Consignee.Address ? '-' : Consignee.Address)#<br />" +
                                                "@T("Admin.Logistics.ConsignmentUser.Fields.Phone"): #=(null == Consignee.Phone ? '-' : Consignee.Phone)#"
                                        },
                                        {
                                            field: "StartPoint",
                                            title: "@T("Admin.Logistics.ConsignmentOrder.Fields.StartPoint")"
                                        },
                                        {
                                            field: "Terminal",
                                            title: "@T("Admin.Logistics.ConsignmentOrder.Fields.Terminal")"
                                        },
                                        {
                                            field: "PaymentStatus",
                                            title: "@T("Admin.Logistics.ConsignmentOrder.Fields.Payment")",
                                            template:
                                                '<span class="grid-report-item ' +
                                                '# if (PaymentStatus == 20) {# red #} #' +
                                                '# if (PaymentStatus == 1 || PaymentStatus == 99) {# yellow #} #' +
                                                '# if (PaymentStatus == 10) {# green #} #' +
                                                '# if (PaymentStatus == 15) {# blue #} #' +
                                                '">#=PaymentStatusName#</span>' +
                                                "(@T("Admin.Logistics.ConsignmentOrder.Fields.Receipts"): #=(null == Receipts ? '-' : Receipts)# / " +
                                                "@T("Admin.Logistics.ConsignmentOrder.Fields.Receivable"): #=(null == Receivable ? '-' : Receivable)#)"
                                        },
                                        {
                                            field: "OrderStatusName",
                                            title: "@T("Admin.Logistics.ConsignmentOrder.Fields.OrderStatus")",
                                            width: 100,
                                            attributes: { style: "text-align: center" },
                                            template:
                                                '<span class="grid-report-item ' +
                                                '# if (OrderStatus == 1) {# yellow #} #' +
                                                '# if (OrderStatus == 20) {# red #} #' +
                                                '# if (OrderStatus == 10) {# blue #} #' +
                                                '# if (OrderStatus == 5) {# green #} #' +
                                                '">#=OrderStatusName#</span>'
                                        },
                                        {
                                            field: "TripId",
                                            title: "@T("Admin.Logistics.ConsignmentOrder.Fields.Trip")",
                                            template:
                                                "# if (null != Trip) {# " +
                                                "@T("Admin.Logistics.Car.Fields.License"): #=(null != Trip && null != Trip.Car) ? Trip.Car.License : '-'#<br />" +
                                                "@T("Admin.Logistics.Driver.Fields.Name"): #=(null != Trip && null != Trip.Driver) ? Trip.Driver.Name : '-'#" +
                                                " #} else {# #} #"
                                        },
                                        {
                                            field: "Id",
                                            title: "@T("Admin.Common.Edit")",
                                            width: 50,
                                            attributes: { style: "text-align:center" },
                                            template: '<a class="btn btn-default" href="Edit/#=Id#"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>'
                                        }
                                    ]
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var selectedIds = [];

        $(function () {
            $("#search").click(function () {
                var grid = $("#grid").data("kendoGrid");
                grid.dataSource.page(1);

                $(".checkboxGroups").attr("checked", false).change();
                selectedIds = [];

                return false;
            });

            $([
                "#@Html.IdFor(x => x.SearchStartPoint)",
                "#@Html.IdFor(x => x.SearchTerminal)",
                "#@Html.IdFor(x => x.SearchConsignor)",
                "#@Html.IdFor(x => x.SearchConsignee)",
                "#@Html.IdFor(x => x.SearchSerialNum)",
                "#@Html.IdFor(x => x.SearchConsignmentTimeFrom)",
                "#@Html.IdFor(x => x.SearchConsignmentTimeTo)"
            ].join(",")).keydown(function (event) {
                if (event.keyCode === 13) {
                    $("#search").click();
                    return false;
                }
            });

            $("#mastercheckbox").click(function () {
                $(".checkboxGroups").attr("checked", $(this).is(":checked")).change();
            });

            $("#grid").on("change", "input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]", function (e) {
                var $check = $(this);
                var checked = $.inArray($check.val(), selectedIds);
                if ($check.is(":checked") == true) {
                    if (-1 == checked) {
                        selectedIds.push($check.val());
                    }
                } else if (checked > -1) {
                    selectedIds = $.grep(selectedIds, function (item, index) {
                        return item != $check.val();
                    });
                }

                updateMasterCheckbox();
            });
        });

        function onDataBound(e) {
            $("#grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]").each(function () {
                var currentId = $(this).val();
                var checked = $.inArray(currentId, selectedIds);
                $(this).attr("checked", checked > -1);
            });

            updateMasterCheckbox();
        }

        function updateMasterCheckbox() {
            var numChkBoxes = $("#grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]").length;
            var numChkBoxesChecked = $("#grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]:checked").length;
            $("#mastercheckbox").attr("checked", numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
        }
    </script>
</form>

<div id="importexcel-window" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="importexcel-window-title">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="importexcel-window-title">@T("Admin.Common.ImportFromExcel")</h4>
            </div>
            <form asp-controller="ConsignmentOrder" asp-action="ImportFromXlsx" method="post" enctype="multipart/form-data">
                <div class="form-horizontal">
                    <div class="modal-body">
                        <ul class="common-list">
                            <li>
                                <em>@T("Admin.Logistics.ConsignmentOrders.List.ImportFromExcelTip")</em>
                            </li>
                            <li>
                                <em>@T("Admin.Common.ImportFromExcel.ManyRecordsWarning")</em>
                            </li>
                        </ul>
                        <div class="form-group">
                            <div class="col-md-2">
                                <div class="label-wrapper">
                                    <label class="control-label">
                                        @T("Admin.Common.ExcelFile")
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <input type="file" id="importexcelfile" name="importexcelfile" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            @T("Admin.Common.ImportFromExcel")
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<form asp-controller="ConsignmentOrder" asp-action="ExportExcelSelected" method="post" id="export-excel-selected-form">
    <input type="hidden" id="selectedIds" name="selectedIds" value="" />
</form>

<script>
    $(function () {
        $("#exportexcel-selected").click(function (e) {
            e.preventDefault();
            var ids = selectedIds.join(",");
            $("#export-excel-selected-form #selectedIds").val(ids);
            $("#export-excel-selected-form").submit();
            return false;
        });
    });
</script>
