@model Nop.Web.Areas.Admin.Models.Logistics.TripModel
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            @T("Admin.Logistics.Trip.Fields.Ship")
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="SerialNum" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="SerialNum" asp-required="true" />
                    <span asp-validation-for="SerialNum"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="CarId" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="CarId" asp-items="Model.AvailableCars" />
                    <span asp-validation-for="CarId"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="DriverId" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="DriverId" asp-items="Model.AvailableDrivers" />
                    <span asp-validation-for="DriverId"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="StartAt" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="StartAt" />
                    <span asp-validation-for="StartAt"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="EndAt" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="EndAt" />
                    <span asp-validation-for="EndAt"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            @T("Admin.Logistics.Trip.Fields.Fee")
        </div>
        <div class="panel-body">
            @for (int i = 0, iMax = Model.AvaliableFeeCategories.Count; i < iMax; i++)
            {
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label class="control-label">@Model.AvaliableFeeCategories[i].Text</label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="@Model.Fees[i].Amount" />
                        <span asp-validation-for="@Model.Fees[i].Amount"></span>
                        <input type="hidden" asp-for="@Model.Fees[i].CategoryId" value="@Model.AvaliableFeeCategories[i].Value" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>