@model Nop.Web.Areas.Admin.Models.Logistics.CarSearchModel

@{
    ViewBag.Title = T("Admin.Logistics.Car").Text;
    Html.SetActiveMenuItemSystemName("Car");
}

<nop-antiforgery-token />
<form asp-controller="Car" asp-action="List" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Logistics.Car")
        </h1>
        <div class="pull-right">
            <a asp-action="Create" class="btn bg-blue">
                <i class="fa fa-plus-square"></i>
                @T("Admin.Common.AddNew")
            </a>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchLicense" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="SearchLicense" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="col-md-4">
                                    <nop-label asp-for="SearchEnabled" />
                                </div>
                                <div class="col-md-8">
                                    <nop-select asp-for="SearchEnabled" asp-items="Model.AvailableEnabledOptions" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-md-offset-5">
                                <button type="button" id="search" class="btn btn-primary btn-search">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="grid"></div>

                        <script>
                            $(function () {
                                $("#grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("List", "Car"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: function () {
                                                    var data = {
                                                        SearchLicense: $("#@Html.IdFor(x => x.SearchLicense)").val(),
                                                        SearchEnabled: $("#@Html.IdFor(x => x.SearchEnabled)").val()
                                                    };
                                                    addAntiForgeryToken(data);
                                                    return data;
                                                }
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors:"Errors"
                                        },
                                        error: function (e) {
                                            display_kendoui_grid_error(e);
                                            this.cancelChanges();
                                        },
                                        pageSize: @(Model.PageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(Model.AvailablePageSizes)],
                                        @await Html.PartialAsync("_GridPagerMessages")
                                    },
                                    scrollable: false,
                                    dataBound: onDataBound,
                                    columns: [
                                        {
                                            field: "Id",
                                            headerTemplate: "<input id='mastercheckbox' type='checkbox' />",
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:center" },
                                            template: "<input type='checkbox' value='#=Id#' class='checkboxGroups' />",
                                            width: 50
                                        },
                                        {
                                            field: "License",
                                            title: "@T("Admin.Logistics.Car.Fields.License")"
                                        },
                                        {
                                            field: "Enabled",
                                            title: "@T("Admin.Logistics.Car.Fields.Enabled")",
                                            template: '# if(Enabled) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                        },
                                        {
                                            field: "Id",
                                            title: "@T("Admin.Common.Edit")",
                                            width: 50,
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:center" },
                                            template: '<a class="btn btn-default" href="Edit/#=Id#"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>'
                                        }
                                    ]
                                });
                            });
                        </script>

                        <script>
                            var selectedIds = [];

                            $(function () {
                                $("#search").click(function () {
                                    var grid = $("#grid").data("kendoGrid");
                                    grid.dataSource.page(1);
                                    $(".checkboxGroups").attr("checked", false).change();
                                    selectedIds = [];
                                    return false;
                                });

                                $(["#@Html.IdFor(x => x.SearchLicense)"].join(",")).keydown(function (event) {
                                    if (event.keyCode === 13) {
                                        $("#search").click();
                                        return false;
                                    }
                                });

                                $("#mastercheckbox").click(function () {
                                    $(".checkboxGroups").attr("checked", $(this).is(":checked")).change();
                                });

                                $("#grid").on("change", "input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]", function (e) {
                                    var $check = $(this);
                                    var checked = $.inArray($check.val(), selectedIds);
                                    if ($check.is(":checked") == true) {
                                        if (-1 == checked) {
                                            selectedIds.push($check.val());
                                        }
                                    }
                                    else if (checked > -1) {
                                        selectedIds = $.grep(selectedIds, function (item, index) {
                                            return item != $check.val();
                                        });
                                    }
                                    updateMasterCheckbox();
                                });
                            });

                            function onDataBound(e) {
                                $("#grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]").each(function () {
                                    var currentId = $(this).val();
                                    var checked = $.inArray(currentId, selectedIds);
                                    $(this).attr('checked', checked > -1);
                                });

                                updateMasterCheckbox();
                            }

                            function updateMasterCheckbox() {
                                var numChkBoxes = $("#grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]").length;
                                var numChkBoxesChecked = $("#grid input[type=checkbox][id!=mastercheckbox][class=checkboxGroups]:checked").length;
                                $("#mastercheckbox").attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>